
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,225,233,1) 100%);
}
.nav{ 
  background: rgb(157,190,212);
background: radial-gradient(circle, rgba(157,190,212,1) 8%, rgba(209,149,214,0.9810049019607843) 76%);
  color:white;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
}
.head{
  font-family: "Josefin Sans", sans-serif;
  margin-left: 80px;
}
.list{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.list a{
  text-decoration: none;
  color:white;
}

.headingStyle {
  font-size: 26px;
  color: #333;
  text-transform: uppercase;
}

/* Login */

.login {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login input[type="text"],
.login input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  /* background-color: #0056b3; */
}

.login a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: blueviolet;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.login.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 180px;
  color: black;
}
 /* Register */
 
  .register {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto; 
}

.register > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register > form input {
  border-radius: 20px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 2% 0;
  width: 90%;
  padding: 12px;
  font-size: 16px;
} 

.sbtn{
  width: 100%;
  padding: 10px;
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  margin-top: 8px;
}

/* Blog*/



.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Blog-Title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
textarea,
input[type='file'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 150px;
}

button {
  background-color: black;
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 350px;
  margin-top: 30px;
}



/* post */
  .blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color:#d0a3df;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    margin-left: 45px ;
    margin-top: 10px;
    width: 80%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card details {
    color: #007bff;
    padding: 20px;
  }
  
  .card-title {
    display: flex;
    color: #020d19;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .card-content {
    padding: 15px;
    overflow: hidden;
    color: #1b0202;
  }
  
  .no-blogs {
    font-size: 28px;
    color: rgb(246, 194, 224);
    font-weight: bold;
    margin-top: 50px;
  }


  /* profile */

  .blogbtn {
   
    color: #fff;
    
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 320px;
    margin-top: 6px;
  }
 

.container {
  max-width: 800px;
  margin: 0 auto;
}

.profile {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img {
  text-align: center;
}

.img img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.proform-group {
  margin-bottom: 20px;
}

.proform-group label {
  font-weight: bold;
}

.proform-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.probutton {
  display: block;
  width: 25%;
  padding: 10px;
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 300px;
  transition: background-color 0.3s ease;
  
}

.probutton:hover {
  background-color:black;
}

  